<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
<br><br>
  <ion-grid>
    <ion-row>

        <ion-title text-center><strong>Sistema de Reclutamiento</strong></ion-title>

    </ion-row>

<!-- Mensa de login sin conexion -->
    <ion-row justify-content-center *ngIf="vInternet == false">
      <br><br><br><br>
      <ion-title text-center><strong>:( Sin conexion no puedes autenticarte..</strong></ion-title>
    </ion-row>

<!-- Contenido Principal -->

    <div *ngIf="vInternet == true">
    <ion-row justify-content-center>

      <ion-list>
<br>

<form [formGroup]="rForm" (ngSubmit)="pushPage(rForm.value);" novalidate>

  <ion-item>
    <ion-label stacked>Correo</ion-label>
    <ion-input type="text" formControlName="correo" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Contraseña</ion-label>
    <ion-input type="password" formControlName="pass" required></ion-input>
  </ion-item>

  <p *ngIf="!rForm.controls['correo'].valid && rForm.controls['correo'].touched">Correo Requerido</p>
  <p *ngIf="!rForm.controls['pass'].valid && rForm.controls['pass'].touched">Contraseña Requerida</p>

<br>

<ion-row justify-content-center>
<button ion-button type="submit" [disabled]="!rForm.valid">Entrar</button>
</ion-row>

</form>

</ion-list>

    </ion-row>

    <ion-row justify-content-center>
      <img src="assets/img/logo.png" height="80" width="220">
    </ion-row>
</div>

  </ion-grid>

</ion-content>
