
page-login {
  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-wp { color: white; }

  $fondo-login: #005BA0;
  font-family: 'Raleway', sans-serif;

  .scroll-content{
    background-color: $fondo-login;
  }

  .item{
  background-color: $fondo-login;
  }

  ion-label{
    color: white;
  }

  ion-input{
    color: white;
    font-size: 15px;
  }

  .item-input .label-md,
.item-select .label-md,
.item-datetime .label-md{
    color: white;
  }

  p {
    display:block;
    background: rgba(#e35757, 0.9);
    padding: 2px 5px;
    color: rgba(#423e3e, 0.95);
    border-radius: 10px;
  }

}
