page-tabs {

}

.toolbar-background-ios{
  background-color: #0c5286;
}

div.show-tabbar.tabbar{
  background-color: #0c5286;
}

ion-icon.tab-button-icon.icon.icon-md{
  color: white;
}

ion-icon.tab-button-icon.icon.icon-ios{
  color: white;
}

.tabs-md .tab-button[aria-selected=true] {
  background: #a3c107; /* your background color*/
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: white;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
color: white;
}

.tabs-ios .tab-button[aria-selected=true] {
background: #a3c107; /* your background color*/
}

.toolbar-title.toolbar-title-ios{
  color:white;
}
