<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
    <ion-tab tabIcon="home" [root]="tab1Root"></ion-tab>
    <ion-tab tabIcon="list-box" [root]="tab2Root"></ion-tab>
    <ion-tab tabIcon="star" [root]="tab4Root"></ion-tab>
    <ion-tab tabIcon="person" [root]="tab3Root"></ion-tab>
</ion-tabs>
