<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title text-center>Perfil</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card style="background: linear-gradient(#1e4873, #1d4d80, #1d4d80">

        <ion-grid>
          <ion-row justify-content-center>
            <ion-item>
          <ion-avatar>
            <img style="width: 150px; height: 150px;" src="assets/img/user1.png" alt="Imagen Usuario" id="avatar"/>
          </ion-avatar>
        </ion-item>
      </ion-row>

            <ion-row justify-content-center>
                <ion-col col-6>
                    <button ion-button icon-left block color="primary" small (click)="changeImgProfile()">
                    <ion-icon name="camera"></ion-icon>
                    Cambiar Foto
                    </button>
                </ion-col>
            </ion-row>

        <ion-card-content>
            <ion-card-title>
              <h1 text-center>Demo</h1>
            </ion-card-title>
        </ion-card-content>
        <hr>
        <ion-item style="background: none;">
                <h2 text-center>Demo Demo Demo</h2>
            </ion-item>
            <ion-item style="background: none;">
                <h2 text-center>demo@demo.com</h2>
            </ion-item>
            <ion-item style="background: none;">
                <h2 text-center>Col. Demo calle Demo #000</h2>
            </ion-item>

            <ion-row justify-content-center>

            <button ion-button outline color="danger">Cambiar Contraseña</button>

        </ion-row>

        </ion-grid>
    </ion-card>
</ion-content>
