page-profile {
  .scroll-content{
    background-color: #1c588b;
  }
  .toolbar-background.toolbar-background-md{
    background-color: #0c5286;
  }

  .toolbar-title.toolbar-title-md{
    color:white;
  }
  .toolbar-title.toolbar-title-ios{
    color:white;
  }
  .item-block{
    width: auto;
  }

  h1,h2,h3,h4{
    color:white;
  }

  .card-md h1, .card-md h2{
    color:white;
  }

  ion-item.item.item-block.item-ios{
        background-color: rgba(255, 255, 255, 0);
  }

  ion-item.item.item-block.item-md{
        background-color: rgba(255, 255, 255, 0);
  }

}
