<ion-header>
    <ion-navbar>
        <ion-title text-center>
            Inicio
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openOpciones($event)">
                <ion-icon name="more" color="light"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <img src="assets/img/logo.png" alt="imagen_inicio">
        <br>
        <h2 text-center style="color:white;">Opciones de Registro</h2>
        <ion-row>
            <ion-col col-12 col-sm-6>
                <button ion-button full icon-left color="midnight" (click)="basicoModal()">
                    <ion-icon name="document"></ion-icon>
                    Captura Básica
                </button>
            </ion-col>
            <ion-col col-12 col-sm-6>
                <button ion-button full icon-left color="secondary-two" (click)="documentosModal()">
                    <ion-icon name="folder"></ion-icon>
                    Captura con documentos
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-slides spaceBetween="10" pager (ionSlideDidChange)="slideChanged()" autoplay="5000" loop=true effect="coverflow">
            <ion-slide> <img src="assets/imagenes/imagen1.png"> </ion-slide>
            <ion-slide> <img src="assets/imagenes/imagen1.png"> </ion-slide>
            <ion-slide> <img src="assets/imagenes/imagen1.png"> </ion-slide>
        </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>
