page-home {
  .scroll-content{
    background-color: #1C588B;
  }

  .toolbar-background.toolbar-background-md{
    background-color: #0c5286;
  }

  .toolbar-title.toolbar-title-md{
    color:white;
  }
}
