<!--
  Generated template for the CdBasicosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>

      <ion-title text-center>
        Reclutamiento
      </ion-title>

      <ion-buttons start>

        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios" style="color:white;">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows" style="color:white;"></ion-icon>
        </button>

      </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content padding>

  <form (ngSubmit)="insert(rForm.value);" [formGroup]="rForm">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-label stacked>Nombres:</ion-label>
          <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-label stacked>Apellidos:</ion-label>
          <ion-input type="text" placeholder="Apellidos" formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" item-left></ion-icon>
          <ion-label stacked>Correo electronico:</ion-label>
          <ion-input type="email" placeholder="Email" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-left></ion-icon>
          <ion-label stacked>Fecha de nacimiento:</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" formControlName="fnacimiento" placeholder="MM-DD-AAA"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-left></ion-icon>
          <ion-label stacked>Celular:</ion-label>
          <ion-input type="tel" maxlength="10" formControlName="celular" placeholder="XXX-XXX-XXXX"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block type="submit" [disabled]="!rForm.valid">Guardar</button>
      </div>
    </form>

</ion-content>
