<!--
  Generated template for the CdDocumentosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>

      <ion-title text-center>
        Reclutamiento
      </ion-title>

      <ion-buttons start>

        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios" style="color:white;">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows" style="color:white;"></ion-icon>
        </button>

      </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="insert(rForm.value)" [formGroup]="rForm">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-label stacked>Nombres:</ion-label>
          <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-label stacked>Apellidos:</ion-label>
          <ion-input type="text" placeholder="Apellidos" formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" item-left></ion-icon>
          <ion-label stacked>Correo electronico:</ion-label>
          <ion-input type="email" placeholder="Email" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-left></ion-icon>
          <ion-label stacked>Fecha de nacimiento:</ion-label>
          <ion-datetime displayFormat="MM-DD-YYYY" placeholder="MM-DD-AAAA" formControlName="fecha"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-left></ion-icon>
          <ion-label stacked>Celular:</ion-label>
          <ion-input type="tel" maxlength="10" placeholder="XXX-XXX-XXXX" formControlName="celular"></ion-input>
        </ion-item>
      </ion-list>

      <ion-row justify-content-center>
        <ion-label>Acta de Nacimiento: </ion-label><button ion-button small  type="button" color="secondary" (click)="getPicture()"><ion-icon name="camera"></ion-icon></button>
      </ion-row>
      <img id="acta" [hidden]="!show1"/>

      <ion-row justify-content-center>
        <ion-label>Comprobante de domicilio: </ion-label><button ion-button small  type="button" color="secondary" (click)="getPicture2()"><ion-icon name="camera"></ion-icon></button>
      </ion-row>
      <img id="domicilio" [hidden]="!show2"/>

      <ion-row justify-content-center>
        <ion-label>Certificado de estudios: </ion-label><button ion-button small  type="button" color="secondary" (click)="getPicture3()"><ion-icon name="camera"></ion-icon></button>
      </ion-row>
      <img id="certificado" [hidden]="!show3"/>

      <div padding>
        <button ion-button block type="submit" [disabled]="!rForm.valid">Guardar</button>
      </div>

    </form>
</ion-content>
