page-cd-documentos {
  .toolbar-background-ios{
    background-color: #0c5286;
  }
  .toolbar-background-md{
    background-color: #0c5286;
  }
  .toolbar-title.toolbar-title-md{
    color:white;
  }
}
