<!--
  Generated template for the MetasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Metas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-title><h2>Metas disponibles:</h2></ion-title>
  </ion-row>
<!--  - - - - - - - - - - - - - - - - - - -->
  <ion-card>
    <ion-card-header>
      <h2 text-center style="color: #a2c30d;">Metas Pendientes</h2>
    </ion-card-header>
  <div *ngFor="let meta of metas">
<ion-row *ngIf="meta.rangoMetaActual < meta.rangoMeta">
    <ion-col col-6 style="border-top: 2px solid #abb0b4;color:white">{{meta.descripcion}}</ion-col>
    <ion-col col-6 style="border-top: 2px solid #abb0b4;color:white">
      <progress id="progressbar" max="{{meta.rangoMeta}}" value="{{meta.rangoMetaActual}}"> </progress>
      <div id="progressbarlabel" text-center>{{meta.rangoMetaActual}}/{{meta.rangoMeta}} </div>
    </ion-col>
</ion-row>
  </div>
</ion-card>

<!--  - - - - - - - - - - - - - - - - - - -->
<br>
<ion-card>
  <ion-card-header>
    <h2 text-center style="color: #d1163b;">Metas Terminadas</h2>
  </ion-card-header>

<div *ngFor="let meta of metas">
<ion-row *ngIf="meta.rangoMetaActual >= meta.rangoMeta">
  <ion-col col-6 style="border-top: 2px solid #abb0b4;color:white">{{meta.descripcion}}</ion-col>
  <ion-col col-6 style="border-top: 2px solid #abb0b4;color:white">
    <progress id="progressbar" max="1" value="{{ 1 }}"> </progress>
    <div id="progressbarlabel" text-center><strong>Finalizada </strong></div>
  </ion-col>
</ion-row>

</div>
</ion-card>

</ion-grid>
</ion-content>
