page-metas {

  .scroll-content{
    background-color: #1c588b;
  }

  h1,h2,h3,h4,h5,.card-md h1,.card-md h2,.card-md h3,.card-md h4{
    color: white;
  }

  .toolbar-background.toolbar-background-md{
    background-color: #0c5286;
  }

  .toolbar-title.toolbar-title-md{
    color:white;
  }

  ion-col.col{
    padding: 11px;
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 10px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #33cd5f;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-color: #3299E6;
    border-radius: 2px;
  }

  ion-card.card.card-ios, ion-card.card.card-md{
    background-color: rgba(97, 97, 97, 0.91);
  }

}
