<!--
  Generated template for the SentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
<button ion-button clear (click)="cancelModal()">Cancelar</button>

<br><br>
  <ion-item>
      <ion-icon name='contact' item-start></ion-icon>
      Nombre: <strong>{{obj.nombres}}</strong>
   </ion-item>
   <ion-item>
       <ion-icon name='contact' item-start></ion-icon>
       Lugar: <strong>{{obj.apellidos}}</strong>
    </ion-item>
    <ion-item>
        <ion-icon name='at' item-start></ion-icon>
        Fecha De Nacimiento: <strong>{{obj.fnacimiento}}</strong>
     </ion-item>
     <ion-item>
         <ion-icon name='time' item-start></ion-icon>
         Correo: <strong>{{obj.correo}}</strong>
      </ion-item>
      <ion-item>
          <ion-icon name='checkmark-circle' item-start></ion-icon>
          Status: <strong>Pendiente</strong>
       </ion-item>
</ion-content>
