page-sent {
  ion-content {
        &.content {
            div.scroll-content {
                overflow:hidden;
            }
        }

        &.content-ios {
            background-color: rgba(#1c588b, 0.3);

            div.scroll-content {
                background-color: #1c588b;
                border-radius: 13px;
                padding: 16px;
            }
        }

        &.content-md {
            background-color: rgba(#1c588b, 0.5);

            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(#1c588b, 0.4);
                padding: 24px;
            }
        }
    }

    span.button-inner{
      color:white;
    }

    .item-ios, .item-md{
      background-color: #1c588b;
      color: white;
    }
    
}

page-sent ion-content.content-ios div.scroll-content, page-sent ion-content.content-md div.scroll-content{
  background: linear-gradient(rgba(#1c588b, 0.90),rgba(#1c588b, 0.98),#1c588b);
}
