page-historial {
  *{
    color: white;
  }
  h1,h2,h3,h4,h5{
    color: white;
  }
  .item-ios p, .item-md p{
    color: rgb(217, 217, 217);
  }
  .scroll-content{
    background-color: white;
  }

  .toolbar-background.toolbar-background-md{
    background-color: #0c5286;
  }

  .toolbar-title.toolbar-title-md{
    color:white;
  }
  .scroll-content{
    background: #1C588B;
  }

  ion-list-header.item.item-md.list-header.list-header-md{
    background-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
  }

  ion-item.item.item-block.item-md, ion-item.item.item-block.item-ios{
    background-color: rgba(97, 97, 97, 0.91);
    -webkit-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
  }

  ion-note.note.note-md, ion-note.note.note-ios{
    margin-top: 7%;
    color: white;
  }

  .list-avatar-page {
   ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
   }
  }
}
