<ion-header>
  <ion-navbar>
    <ion-title text-center>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page" padding>

  <ion-list>

    <ion-list-header>
      <h1 text-center style="color: #a2c30d;">ENVIADOS</h1>
    </ion-list-header>

    <div *ngIf="tasksSent.length==0">
      <h4 text-center><strong>Ningun Registro Enviado</strong></h4>
    </div>

    <ion-item *ngFor="let task of tasksSent; let i = index">
      <h2> {{ task.nombres + ' ' + task.apellidos }}</h2>
      <p>{{ task.correo }}</p>
      <ion-note item-end>{{ task.fnacimiento }}</ion-note>
      <button item-end ion-button color="primary-two" (click)="Enviados(task)">Ver</button>
    </ion-item>
  </ion-list>

   <br>

  <ion-list>

    <ion-list-header>
      <h1 text-center style="color: #d1163b;">PENDIENTES</h1>
    </ion-list-header>

    <div *ngIf="tasksPending.length==0">
      <h4 text-center><strong>Ningun Registro Pendiente</strong></h4>
    </div>

    <ion-item *ngFor="let task of tasksPending; let i = index">

      <h2> {{ task.nombres + ' ' + task.apellidos }}</h2>
      <p>{{ task.correo }}</p>
      <ion-note item-end>{{ task.fnacimiento }}</ion-note>

      <button item-end ion-button color="primary-two" (click)="Pendientes(task)">Ver</button>
    </ion-item>
  </ion-list>

</ion-content>
